.handle {
  opacity: 1;
  width: 17px;
  height: 17px;
  border-radius: 3px;
  background: no-repeat center/contain
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='-2 -2 20 20'><path d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0'/></svg>");

  border: none;
}

.handle_output {
  background-color: rgb(255, 0, 55);
}

.handle_input {
  background-color: rgb(43, 0, 255);
}

.handle_connected {
  background-color: rgb(132, 132, 132);
}
