@import "tailwindcss";

@theme {
  --color-component: #a9a9a9;
}

/* Main Page */

.main_page {
  @apply w-screen;
}

.img-background {
  background: linear-gradient(
      rgba(0, 173, 40, 0.7),
      /* Black with 50% opacity */ rgba(0, 173, 40, 0.7)
    ),
    url("/images/schemaCustom.png");
  background-size: cover;
  background-position: center;
}

.screen-header-h-sum {
  height: calc(100vh - 70px);
}

.main_page_buttons {
  @apply h-full w-full text-lg  flex items-center justify-center gap-3;
}

/* Header */

.header {
  @apply w-full shadow-md;
}

.header_logo {
  @apply col-span-1 mx-auto;
}

.header_container {
  @apply grid grid-cols-3 py-[15px];
}

.header_links {
  @apply flex gap-5 col-span-1 items-center justify-center;
}

.header_auth {
  @apply flex gap-3 items-center col-span-1 justify-center;
}

/* component list */

.components_list {
  @apply transition-transform duration-300 ease-in-out bg-blue-200 fixed w-full top-0 left-0 flex gap-x-3 p-3 z-[200] -translate-y-[100%];
}

.components_list_show {
  @apply translate-y-[0px]!;
}

.components_list_component {
  @apply w-[100px] h-[100px] bg-blue-400 cursor-pointer;
}

.components_list_img {
  @apply w-full h-full object-cover;
}

.component_list_component_name::first-letter {
  @apply uppercase;
}

.components_list_button_show {
  @apply absolute top-[calc(100%+5px)] left-1;
}

.components_list_button {
  @apply flex items-center gap-1;
}

/* Electric Component */

.component_model {
  @apply w-[100px] h-[100px] cursor-pointer flex items-center justify-between bg-component;
}

/* Save schema button */

.save_schema_button_container {
  @apply absolute bottom-1 right-1 z-100;
}

/* Thermometer */

.thermometer {
  @apply flex items-center gap-3 mx-auto absolute right-1 top-1 z-[100] bg-white p-2 rounded-full shadow-md;
}

.thermometer_value {
  @apply text-[25px] px-1;
}

.thermometer_controllers {
  @apply flex gap-1 text-white;
}

/* component modal win */

.component_modal_header {
  @apply flex flex-row justify-between;
}

/* abstract */

.button_normal {
  @apply shadow-md py-1 px-3 rounded-lg cursor-pointer;
}

.button_normal_blue {
  @apply bg-blue-400 text-white;
}

.component_model_img {
  @apply object-cover w-full h-full;
}

.input_field {
  @apply bg-zinc-300 p-[5px] w-full rounded-sm mb-3;
}

.input_name {
  @apply mb-2;
}
