.resistor_model {
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: var(--electric-component-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resistor_model_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
