.rotate_component_button {
  all: unset;
  background-color: rgb(225, 225, 225);
  width: 20px;
  height: 20px;
  padding: 3px;
  margin-left: 100%;
  border-radius: 50%;
  display: flex;
}

.rotate_component_button svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.rotate_component_button:hover {
  background-color: blue;
}
